#auth-master {
  @apply md:flex relative overflow-hidden;

  .auth-routlet {
    @apply absolute lg:relative top-8 bg-white rounded-md md:rounded-none overflow-hidden shadow-lg md:w-2/3 xl:w-[40%] 2xl:w-[30%] ;

    @media (max-width: 1024px) {
      left: 50%; /* Position X halfway in */
      transform: translate(-50%, 0); /* Move it halfway back(x,y) */
      width: 90%;
    }
  }

  .bg-image {
    background-image: url(../../../../../../assets/images/auth/BgArmada.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
  }
}
