/*************************************************************************
| Divider
***************************************************************************/

.divider__divider {
  position: relative !important;
  height: 10px !important;
}

.divider__divider:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(
    to right,
    transparent,
    var(--ocean-green-120),
    transparent
  ) !important;
}

.divider__divider:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -6px;
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  background-color: white;
  border-bottom: 1px solid var(--ocean-green-120);
  border-right: 1px solid var(--ocean-green-120);
}
