@font-face {
  src: url('../../assets/font/nunito/NunitoSans-Regular.ttf')
    format('truetype');
  font-family: nunito_regular;
  font-size: 1rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
}

@font-face {
  src: url('../../assets/font/nunito/NunitoSans-SemiBold.ttf')
    format('truetype');
  font-family: nunito_semibold;
  font-size: 1rem;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
}



@font-face {
  src: url('../../assets/font/nunito/NunitoSans-Bold.ttf')
    format('truetype');
  font-family: nunito_bold;
  font-size: 1rem;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
}
