@import 'styles.scss';

.app-profile-actions {
  @include default-content;
  @apply flex justify-between;

  picture {
    @apply mx-2 w-16 relative;
    div {
      @apply rounded-full w-12 h-12 flex justify-center items-center m-auto;
      background-color: var(--neutral-40);
      span {
        @apply text-3xl;
      }
      i {
        @apply absolute top-0 right-1 rounded-full w-[15px] h-[15px];
        background-color: var(--danger)
      }
    }

    h5 {
      @apply mt-3 text-center;
      font-size: 11px;
    }

    &.activate > div {
      background-color: var(--primary);
      span {
        color: white;
        font-weight: 100;
      }
    }

    &.disabled > div {
      opacity: 0.5;
    }
  }
}
