<article id="app-users-records">

  <p-table #records [value]="recordsUsers"
    styleClass="p-datatable-customers"
    responsiveLayout="scroll"
    [rows]="10"
    [paginator]="true"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10,25,50]"
    [resizableColumns]="true"
    [loading]="_SPINNER.spinnerStatus"
    selectionMode="single"
    currentPageReportTemplate="Registros {first} - {last}, de {totalRecords} total">
    <ng-template pTemplate="header">

      <tr>
        <ng-container *ngFor="let header of mappingTable">
          <ng-container *ngIf="header.idFilter != ''; else noneHeader">
            <th [pSortableColumn]="header.idFilter">
              {{ header.nameFilter }}
              <p-sortIcon [field]="header.idFilter"></p-sortIcon>
            </th>
          </ng-container>
          <ng-template #noneHeader>
            <th></th>
          </ng-template>
        </ng-container>
      </tr>

      <tr>
        <ng-container *ngFor="let filter of mappingTable">
          <ng-container *ngIf="filter.idFilter != ''; else noneFilter">
            <th>
              <input pInputText type="text"
                (input)="records.filter($any($event.target).value, filter.idFilter, 'contains')"
                [value]="$any(records.filters[filter.idFilter])?.value"
                class="p-column-filter">
            </th>
          </ng-container>
          <ng-template #noneFilter>
            <th></th>
          </ng-template>
        </ng-container>
      </tr>

    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr [pSelectableRow]="user">
        <td><p-tag [value]="user.tblActivateName" [severity]="(user.activate == 0) ? 'primary' : 'warning'"></p-tag></td>
        <td><p-tag [value]="user.vigent" [severity]="(user.vigent == 'SI') ? 'success' : 'danger'"></p-tag></td>
        <td>{{ user.tblFirstLastName }}</td>
        <td>{{ user.document }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.nameEntity }}</td>
        <td>{{ user.grade }}</td>
        <td>{{ user.unit }}</td>
        <td>{{ user.position }}</td>
        <td>{{ user.directionGroup }}</td>
        <td>{{ user.contactPerson }}</td>
        <td>{{ user.responsible }}</td>
        <td>{{ user.coResponsible }}</td>
        <td>{{ user.creationDate }}</td>
        <td><i class="ph-pencil" pTooltip="Editar" tooltipPosition="left" (click)="selectRowEdit( user )" *ngIf="permitEdit"></i></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="13" class="not-faund">No se encontraron registros.</td>
      </tr>
    </ng-template>
  </p-table>

</article>
