<section id="auth-login">
  <div class="card-content">

    <h1>MDN SISTEMA <span>PEFUP</span></h1>

    <div class="section-card">

      <ng-container >
        <form [formGroup]="form" (ngSubmit)="login()">

          <img class="img-mindefensa" src="/assets/images/generics/logo-mindefensa.jpg" alt="">

          <p>Para continuar ingresa los datos.</p>

          <div class="field">
            <label for="publicForce">Fuerza pública</label>
            <p-dropdown
              optionValue="idEntity"
              [autoDisplayFirst]="false"
              optionLabel="nameEntity"
              [showClear]="true"
              [filter]="true"
              filterBy="nameEntity"
              placeholder="Selecciona"
              formControlName="publicForce"
              [options]="listEntitys"
            ></p-dropdown>

            <span *ngIf="campoNoValido('publicForce')">
              Recuerda seleccionar la entidad
            </span>

          </div>

          <div class="field">
            <label for="email" class="block">Correo electronico</label>
            <input type="text"  pInputText placeholder="pfup@admin.edu.co" formControlName="email"/>
            <span *ngIf="campoNoValido('email')">
              Correo no válido, ingresa un valor correcto
            </span>
          </div>

          <div class="field">
            <label for="email" class="block">Contraseña</label>
            <input type="password"  pInputText placeholder="*******" formControlName="password"/>
            <span *ngIf="campoNoValido('password')">
              Contraseña no valida, ingresa un valor correcto
            </span>
          </div>

          <div class="field">
            <button
              *ngIf="!_SPINNER.spinnerStatus"
              type="submit"
              class="btn-primary "
              pButton
              pRipple
              label="Continuar"
              [disabled]="form.invalid"></button>
          </div>
        </form>
      </ng-container>

    </div>

  </div>

  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>

</section>
